/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset';

@mixin modal{
    display: none;
    position: absolute;
    z-index: 60;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    .modal-inner{
        position: absolute;
        background-color: #fff;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;text-align: center;
    }
}

//共通CSS
*, *::after, *::before{
    box-sizing: border-box;
}

body{
   height: 100vh;
   position: relative;
   font-size: 62.5%;
   color: #333;
   font-family: 'Arial','Hiragino Maru Gothic ProN W4','	Hiragino Maru Gothic Pro W4',sans-serif;
}

a:link,a:visited,a:hover,a:active{
   text-decoration: none;
   color: #333;
}

.clearfix::after{
   clear: both;
}

.wrapper{
    height: 100%;
    overflow: visible;
}
//共通ｃｓｓ終わり

//pc用css
.header{
    width: 20%;
    background: linear-gradient(45deg, #79ffd2, #91DDC1, #91e1ec, #72b3ff);
    float: left;
    height: 100vh;
    position: fixed;
    z-index: 90;
    .header-top{
        padding: 20px;
        .header-logo-title{
            color: #fff;
            text-shadow: 2px 2px 2px #ddd;
            text-decoration: none;
            font-size: 2rem;
        }
        .user-icon{
            width: 100%;
            padding: 20px 0 0;
            transform-origin: left top;
            transition: transform .2s, opacity .2s;
            .user-img-area{
                vertical-align: middle;
                display: inline-block;
                width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-name{
                vertical-align: middle;
                display: inline-block;
                color: #fff;
                font-size: 1.5rem;
                padding-left: 10px;
            }
            &:hover{
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }
    .header-bottom{
        padding: 0 20px;
        .header-nav{
            .header-nav-list{
                list-style: none;
                .header-nav-item{
                    padding: 0 15px;
                    margin: 10px 0;
                    a{
                        font-size: 1.3rem;
                        text-decoration: none;
                        color: #fff;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
    .sp-hamburger{
        display: none;
    }
}

.sp-menu{
    display: none;
}


.main{
    height: 100%;
    width: 80%;
    float: right;
    overflow-y: scroll;
    .room-header{
        padding: 30px;
        color: #fff;
        position: fixed;
        width: 80%;
        z-index: 70;
        background-color: #4b4c61;
        .room-name{
            font-size: 2rem;
            text-align: left;
            display: inline;
        }
        .room-menu{
            width: auto;
            position: absolute;
            cursor: pointer;
            right: 0;
            padding-right: 30px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 30;
            .room-menu-btn{
                outline: none;
                font-size: 2rem;
                transition: opacity .2s;
                &:hover{
                    opacity: 0.7;
                }
            }
            .room-nav{
                opacity: 0;
                position: absolute;
                visibility: hidden;
                background-color: #eee;
                border-radius: 8px;
                padding: 15px;
                right: 10px;
                top: 50px;
                width: 150px;
                transition: opacity .3s, transform .3s, visibility .3s;
                ul{
                    list-style: none;
                    li{
                        padding: 10px;
                        a{
                            display: inline-block;
                            transform-origin: right bottom;
                           font-size: 1rem;
                           transition: opacity .2s, transform .2s;
                           &:hover{
                               opacity: 0.7;
                               transform: scale(1.05);
                           }
                        }
                    }
                }
                &.show{
                    visibility: visible;
                    transform: translateY(10px);
                    opacity: 1;
                }
            }
        }
    }
    
    .message-list{
        padding: 120px 50px;
        .message-container{
            .message-content{
                background-color: #fff;
                border-radius: 20px;
                display: inline-block;
                padding: 20px 15px;
                margin-bottom: 40px;
                word-wrap: break-word;
                box-shadow: 2px 2px 8px 2px#aaa;
                .user-prof{
                    margin-bottom: 10px;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        object-fit: cover;
                        object-position: top;
                        box-shadow: 2px 1px 3px 2px #bbb;
                    }
                    .message-user-name{
                        font-size: 1rem;
                        color: #666;
                        display: inline-block;
                    }
                }
                .content{
                    font-size: 1.2rem;
                }
                .message-image{
                    margin-top: 20px;
                    max-width: 200px;
                    border-radius: 10px;
                }
                .message-menu{
                    width: 100%;
                    z-index: 40;
                    text-align: right;
                    position: relative;
                    outline: none;
                    .menu-btn{
                        outline: none;
                        color: #888;
                        font-size: 1.1rem;
                        transition: opacity .2s;
                        &:hover{
                            opacity: 0.7;
                        }
                        &.show + .message-menu-nav{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(5px);
                        }
                    }
                    .message-menu-nav{
                        position: absolute;
                        text-align: center;
                        opacity: 0;
                        visibility: hidden;
                        width: 100px;
                        top: 15px;
                        right: 0;
                        z-index: 25;
                        padding: 8px;
                        background-color: #eee;
                        border-radius: 5px;
                        transition: opacity .3s, visibility .3s, transform .3s;
                        ul{
                            list-style: none;
                            .message-nav-item{
                                padding: 5px 0;
                                .link-nav{
                                    display: inline-block;
                                    transition: .2s;
                                    &:hover{
                                        transform: scale(1.1);
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .form-area{
        width: 80%;
        position: fixed;
        z-index: 50;
        bottom: 0;
        background-color: #444;
        padding: 30px 40px;
        form{
            width: 100%;
            display: flex;
            .textarea-up{
                width: 5%;
                padding: 5px 10px;
                border-radius: 5px;
                height: 40px;
                background-color: #2e8b57;
                text-align: center;
                color: #fff;
                font-size: 1.4rem;
                cursor: pointer;
                transition: transform .3s, opacity .3s;
                &.open{
                    transform: rotate(180deg);
                }
                &:hover{
                    opacity: 0.7;
                }    
            }
            .message-input{
                width: calc(70% - 20px);
                margin-left: 20px;
                border-radius: 10px;
                background-color: #fff;
                .flex-textarea{
                    position: relative;
                    font-size: 1.3rem;
                    .textarea-dummy{
                        white-space: pre-wrap;
                        word-wrap: break-word;
                        visibility: hidden;
                        min-height: 40px;
                        max-height: 400px;
                        padding: 5px 15px;
                    }
                    .auto-resize{
                        outline: none;
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                        padding: 5px 15px;
                        display: block;
                        border-radius: 10px;
                        resize: none;
                    }
                }
                .image-preview-area{
                    display: none;
                    .img-wrapper{
                        max-width: 400px;
                        margin: 0 auto 20px;
                        position: relative;
                        .close{
                            position: absolute;
                            top: 15px;
                            left: 20px;
                            background-color: rgba(0,0,0,0.7);
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            color: #fff;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                        img{
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }
            }
            .image-input{
                width: calc(15% - 5px);
                margin-left: 5px;
                input{
                    display: none;
                }
                label{
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    cursor: pointer;
                    display: block;
                    font-size: 1rem;
                    background-color: #ffa357;
                    border-radius: 8px;
                    color: #fff;
                }
            }
            .submit-btn{
                width: calc(15% - 10px);
                margin-left: 10px;
                input{
                    display: block;
                    height: 40px;
                    width: 100%;
                    line-height: 40px;
                    font-size: 1.2rem;
                    color: #fff;
                    border-radius: 10px;
                    background-color: #b44a2a;
                }
            }
        }
    }
}

//タブレット用css
@media screen and (max-width: 1024px){
    body{
        padding-top: 77px;
    }
    .header{
        position: fixed;
        width: 100%;
        float: none;
        top: 0;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-top{
            display: inline-block;
            .user-icon{
                display: none;
            }
        }
        .header-bottom{
            display: none;
        }
    }

    .sp-hamburger{
        display: block;
        margin: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 100;
        .hamburger-bar{
            width: 100%;
            height: 4px;
            z-index: 30;
            position: absolute;
            background-color: #fff;
            transition: opacity .3s, transform .3s, background-color .3s;
            &:nth-of-type(1){
                top: 0;
            }
            &:nth-of-type(2){
                top: 18px;
            }
            &:nth-of-type(3){
                bottom: 0;
            }
        }
        &.open{
            .hamburger-bar{
                background-color: #333;
                &:nth-of-type(1){
                    transform: translateY(18px) rotate(45deg);
                }
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    transform: translateY(-18px) rotate(-45deg);
                }
            }
        }
    }

    .sp-menu{
        display: block;
        position: fixed;
        overflow: auto;
        opacity: 0;
        top: 0;
        left: 0;
        padding: 50px;
        z-index: 80;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        background-color: #fff;
        transition: opacity .3s, transform .3s;
        .sp-nav{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            transition: transform .3s, opacity .3s;
            transition-delay: .3s;
            opacity: 0;
            .user-icon{
                border-bottom: 1px skyblue dashed;
                padding-bottom: 50px;
                .user-img-area{
                    margin: 0 auto;
                    width: 30vw;
                    height: 30vw;
                    border-radius: 50%;
                    box-shadow: 2px 2px 3px 1px #aaa;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .user-name{
                    margin-top: 15px;
                    font-size: 4rem;
                }
            }
            ul{
                list-style: none;
                margin-top: 80px;
                .sp-nav-item{
                    opacity: 0;
                    margin-top: 30px;
                    font-size: 2rem;
                    transform: translateX(40px);
                    transition: opacity .3s,transform .3s;
                    transition-delay: .5s;
                    &:nth-of-type(2){
                        transition-delay: .6s;
                    }
                    &:nth-of-type(3){
                        transition-delay: .7s;
                    }
                    &:nth-of-type(4){
                        transition-delay: .8s;
                    }
                    a{
                        padding-left: 10px;
                    }
                }
            }
        }
        &.show{
            opacity: 1;
            transform: translateX(0);
            .sp-nav{
                opacity: 1;
                transform: translateY(10%);
                ul{
                    .sp-nav-item{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .main{
        width: 100%;
        .room-header{
            width: 100%;
            padding: 15px;
            .room-name{
                font-size: 1.5rem;
            }
        }
        .message-list{
            padding: 100px 50px 100px;
            .message-content{
                max-width: 100%;
            }
        }
        .form-area{
            width: 100%;
            form{
                .message-input{
                    width: 70%;
                    margin: 0;
                }
                .image-input{
                    width: calc(15% - 10px);
                    margin-left: 10px;
                }
                .submit-btn{
                    width: calc(15% - 10px);
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px){
    body{
        padding-top: 68px;
    }
    .header{
        .header-top{
            .header-logo-title{
                font-size: 1.5rem;
            }
        }
        .header-bottom{
            .header-nav{
                .header-nav-list{
                    flex-direction: column;
                }
            }
        }
    }
    .sp-menu{
        .sp-nav{
            width: auto;
            .user-icon{
                padding-bottom: 20px;
               .user-name{
                   font-size: 2rem;
               }
            }
            ul{
                .sp-nav-item{
                    font-size: 1rem;
                }
            }
        }
    }
    .main{
        .room-header{
            .room-name{
                font-size: 1.2rem;
            }
        }
        .message-list{
            padding: 100px 20px 120px;
            .message-container{
                .message-content{
                    .content{
                        font-size: 1rem;
                    }
                }
            }
        }
        .form-area{
            padding: 20px 10px;
            form{
                .image-input{
                    font-size: 1rem;
                }
                .submit-btn{
                    .submit{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
