// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 50px 50px 30px;
    .heading{
        text-align: center;
        font-size: 2rem;
    }
    .form{
        display: block;
        width: 500px;
        height: 700px;
        background-color: #fff;
        margin: 0 auto;
        padding: 30px;
        label{
            border-left: 5px solid navy;
            padding-left: 20px;
            font-size: 1.3rem;
        }
        input{
            display: block;
            border: 1px solid #ccc;
            width: 100%;
            height: 30px;
            font-size: 20px;
            padding: 5px 10px;
            margin: 30px auto;
            border-radius: 10px;
        }
        .submit-btn{
            width: 50%;
            height: 50px;
            color: #fff;
            background-color: #325632;
        }
        .dummy-file-input{
            display: block;
            border: none;
            margin: 30px auto;
            background-color: #90ddcb;
            color: #fff;
            padding: 10px;
            text-align: center;
            height: 50px;
            border-radius: 25px;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            }
        }
        .prof-img-input{
            display: none;
        }
        .prof-img-prev{
            margin-bottom: 30px;
            img{
                width: 30vh;
                height: 30vh;
                border-radius: 50%;
                margin: 0 auto 15px;
                object-fit: cover;
                display: block;
                box-shadow: 3px 3px 3px 2px #aaa;
            }
            .img-delete{
                .img-delete-check{
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                    height: auto;
                    margin: 0;
                }
                .img-delete-text{
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .login-header{
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
}

@media screen and (max-width: 760px){
    .form-wrapper{
        width: 100%;
        margin: 0;
        padding: 30px;
        .form{
            width: 100%;
            form{
                .submit-btn{
                    width: 100%;
                }
            }
        }
    }
}

//show
.user-desc-wrapper{
    text-align: center;
    padding: 40px;
    .user-thumb{
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
        box-shadow: 2px 2px 4px 2px #bbb;
        overflow: hidden;
        margin: 0 auto 30px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .user-name{
        font-size: 2rem;
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 2px dashed #90ddcb;
    }
    .host-rooms{
        display: inline-block;
        padding-left: 15px;
        border-left: 10px solid navy;
        font-size: 1.7rem;
    }
}