<div class="join-confirm">
    <div class="join-confirm-modal modal-inner">
        <h2 class="title">このルームに参加しますか？</h2>

        <div class="room-card">
            <div class="image-area">
            <% if room.image? %>
              <%= image_tag room.image.url %>
            <% end %>
            </div>
            <h3 class="room-name">
              <%= room.name %>
            </h3>
        </div>

        <button class="join-cancel-btn btn">キャンセル</button>
        <%= link_to '参加する', room_participations_path(room), method: :post, class: 'join-btn btn' %>
    </div>
</div>